*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    padding: 72px 104px;
    background: #121214;

    display: grid;
    justify-content: center;
}
main{

    display: grid;
    grid-template-columns: repeat(3,370px);
    gap: 48px 60px;

    place-content: center;

    
}
header h1{

    color: #02799D;
    font-family: Mulish;
    font-size: 58.287px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 8px;
}
header p{

    color: #E1E1E6;

    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 63px;
}
.card{
    

    border-radius: 8px;
    border: 2px solid #323238;
    background: #202024;

    overflow: hidden;

    
    
}
.card p {

    color: #C4C4CC;
    font-family: Mulish;
    font-size: 19.381px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 24px 32px 32px;
}

.card h2 {

    font-family: Mulish;
    font-size: 35.302px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #E1E1E6;

    padding: 24px 32px 0;
}
